body {
    font-family: Arial, sans-serif;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    background-color: black;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.outer {
    height: 200px;
    width: 200px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.inner {
    height: 80px;
    width: 80px;
    background-color: steelblue;
}
