#t {
    height: 800px;
    width: 250px;
    border: 2px solid black;
}
#red{
    height: 150px;
    width: 150px;
    margin:10px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: red;
    margin-left: 50px;
    

}
#yellow{
    height: 150px;
    width: 150px;
    margin:10px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: yellow;
    margin-left: 50px;
    

}
#green{
    height: 150px;
    width: 150px;
    
    margin:10px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: green;
    margin-left: 50px;
    

}