.box {
    height: 150px;
    width: 150px;
    background-color: blue;
}


@media (max-width: 299px) {
    .box {
        background-color: green;
    }
}


@media (min-width: 300px) and (max-width: 399px) {
    .box {
        background-color: pink;
    }
}


@media (min-width: 400px) and (max-width: 599px) {
    .box {
        background-color: red;
    }
}


@media (min-width: 600px) {
    .box {
        background-color: blue;
    }
}
