*{
    margin: 0;
    padding: 0;
    color: white;
}
.navbar{
    height: 60px;
    background-color: black;
}
#logo{
    font-size: 25px;
    color: rgb(165, 85, 42);
}
#butt{
    background-color: rgb(165,85,42);
}
a{
    margin-right: 200px;
    text-decoration: none;
}